@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);
@import url(https://fonts.googleapis.com/css?family=Forum);
/*
========================================================================
BLOG :: Body
========================================================================
*/

body {
	font-family: 'Sorts Mill Goudy', serif;
    background-color: #eee;
	color: #333;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

#container {
    margin: 0 auto;
    max-width: 100%;
}

a {
    color: #111;
    text-decoration: none;
}

a:hover {
	color: #33AAFF;
    -webkit-transition: color 0.1s ease-in;
    -moz-transition: color 0.1s ease-in;
    -ms-transition: color 0.1s ease-in;
    -o-transition: color 0.1s ease-in;
    transition: color 0.1s ease-in;
}

/*
========================================================================
BLOG :: Head
========================================================================
*/

#head {
	border-bottom: 2px double #3fa9f5;
    color: #444444;
	font-size: 1.4em;
    height: inherit;
    max-height: 5em;
    text-align: center;
    
    background: #888888; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #888888 0%, #aaaaaa 36%, #888888 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#888888), color-stop(36%,#aaaaaa), color-stop(100%,#888888)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #888888 0%,#aaaaaa 36%,#888888 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #888888 0%,#aaaaaa 36%,#888888 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #888888 0%,#aaaaaa 36%,#888888 100%); /* IE10+ */
    background: linear-gradient(135deg,  #888888 0%,#aaaaaa 36%,#888888 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#888888',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-box-shadow:  0px 3px 3px 1px rgba(51, 51, 51, 0.8);
    box-shadow:  0px 3px 2px 1px rgba(51, 51, 51, 0.8);

    padding: 0;
    margin: 0 auto;
    
    
    
}

#head	div.wrap {
    /*background: url('img/header.png') no-repeat center;
    background-size: contain;*/
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

#head   div.wrap>a{
    margin: 0 auto;
	text-decoration: none;
    text-align: center;
    cursor: default;
}

#head   div.wrap>a>img{
    margin: 0 auto;
    max-width: 100%;
    max-height: 5em;
}

#head	a.name {
    margin: 0 auto;
	text-decoration: none;
    text-align: center;
    cursor: default;
    color: transparent;
}

#head	span.slogan {
	color: #FFFFFF;
}


/*
========================================================================
BLOG :: Main
========================================================================
*/

#barraTopo{
    width: 100%;
    height: 30px; 
    background: #333;
    border-bottom: 2px double #3fa9f5;
}

#barraTopo a{
    text-align: right;
    float: right;
    margin: 5px 7% 0px 7%;
    color: #ddd;
    font-size: 1em;
    text-decoration: none;
}

#barraTopo a:hover{
    color: #3fa9f5;
}

#main {
    width: 90%;
    max-width: 1000px;
    overflow: auto;
    
    background: #eee;
    
    margin: 20px auto;
    color: #111;
}

#left {
    color: #111;
    
    margin: 10px auto;
	font-size: 1em;
}

#sidebar {
    color: #111;
    margin: 10px auto;
    text-align: center;    
	font-size: 1em;
}

/*
========================================================================
BLOG :: Footer
========================================================================
*/

#foot {
    color: #111;
    
    border-top: 2px double #3fa9f5;
    border-bottom: none;
    
    background: #888888; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #888888 0%, #aaaaaa 36%, #888888 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#888888), color-stop(36%,#aaaaaa), color-stop(100%,#888888)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #888888 0%,#aaaaaa 36%,#888888 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #888888 0%,#aaaaaa 36%,#888888 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #888888 0%,#aaaaaa 36%,#888888 100%); /* IE10+ */
    background: linear-gradient(135deg,  #888888 0%,#aaaaaa 36%,#888888 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#888888',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    padding: 10px 0;
   
	width:100%;
	text-align: center;
	font-size: 1.1em;
	margin: 20px 0 0 0;
    
    line-height: 1.4em;
    height: inherit;
    min-height: 3em;
}

/*
========================================================================
BLOG :: Page 404
========================================================================
*/

div.page_404 {

}

/*
========================================================================
BLOG :: Pager
========================================================================
*/

#pager {
	overflow: auto;
	text-align: center;
	background: url('img/pager.png') repeat;
}

#pager	a.next-page {
	float: right;
    background: #ddd;
	padding: 0 5px;
}

#pager	a.prev-page {
	float: right;
    background: #ddd;
	padding: 0 5px;
}

#pager	a.home-page {
	float: right;
    background: #ddd;
	padding: 0 5px;
}

/*
========================================================================
Nibbleblog Styles
========================================================================
*/
.nb-code {
	border-style: solid !important;
}

.nb-console {
    background: url("img/console.png") no-repeat scroll 8px 8px #F1F1F1;
    display: block;
    line-height: 24px;
    margin: 5px 0;
    overflow: auto;
    padding-left: 38px;
    white-space: nowrap;
    border: 1px solid #ccc !important;
}

.nb-align-left {
	float:left;
	margin:0 1em 1em 0;
}

.nb-align-right {
	float:right;
	margin:0 0 1em 1em;
}

.nb-align-center {
	display:block;
	margin:0 auto 1em;
}